<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.uwflow.flow_android"
          android:versionCode="5"
          android:versionName="@string/app_version_name">
    <uses-sdk android:minSdkVersion="14"
              android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.NFC" />

    <!-- Required by Google Analytics and Mixpanel -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name=".FlowApplication"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:allowBackup="true"
            android:allowClearUserData="true"
            android:vmSafeMode="true"
            android:hardwareAccelerated="true">
        <activity android:name="LoginActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".fragment.ProfileFragment"
                  android:screenOrientation="portrait"
                  android:theme="@style/Flow.Styled">
        </activity>
        <activity android:name=".MainFlowActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/Flow.Styled">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="https"
                      android:host="uwflow.com"
                      android:pathPattern=".*" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FullScreenImageActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.facebook.LoginActivity"
                  android:screenOrientation="portrait"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="0cced89c07497c684c2bd8361b9395d97483cad0"/>
    </application>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
</manifest>
